beautifulsoup4==4.4.1
chardet==2.3.0
colorama==0.3.3
decorator==4.0.4
flake8==2.5.0
greenlet==0.4.9
i3-py==0.6.4
Jinja2==2.8
kitchen==1.2.4
lxml==3.5.0
mando==0.3.3
MarkupSafe==0.23
mccabe==0.3.1
msgpack-python==0.4.6
neovim==0.0.38
packaging==15.3
pep8==1.5.7
praw==3.3.0
pyflakes==1.0.0
Pygments==2.0.2
pygobject==3.18.2
pyPEG2==2.15.1
pyxdg==0.25
PyYAML==3.11
qutebrowser==0.4.1
radon==1.2.2
ranger==1.7.2
requests==2.8.1
rtv==1.6.1
six==1.10.0
team==1.0
tornado==4.3
update-checker==0.11
urllib3===dev
virtualenv==13.1.2
