{% extends "bootstrap/base.html" %}

{% block title %} FTZM - Home{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/solarized.css') }}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $(".menutog").click(function(){
        $("#overlay").fadeToggle(200);
    });
});
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="sidebar">
        <div style="height: 66px;">
        <a class='logo' href='/'>{% include 'logo.html' %}</a>
        <div class="toptog menutog"><i class="fa fa-bars"></i> Menu</div>
        </div>
        <h2>A Blog about Computers and Code</h2>
        <p>
        Matthew Fitzsimmons spends a lot of time on Linux machines writing Python and developing for the web. This is where he writes about it.
        </p>
        <div id="overlay" class="overlay">
            <div class="cancel menutog">
               X
            </div>
            <ul class="menu">
                <li class="menuitem"><a class="menulink" href="{{ url_for('index') }}">BLOG</a></li>
                <li class="menuitem"><a class="menulink" href="{{ url_for('portfolio') }}">PORTFOLIO</a></li>
                <li class="menuitem"><a class="menulink" href="{{ url_for('about') }}">ABOUT</a></li>
                <li class="menuitem"><a class="menulink" href="{{ url_for('contact') }}">CONTACT</a></li>
                <li class="menuitem"><a class="menulink" href="{{ url_for('feed') }}"><i class="fa fa-rss fa-lg"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="content">
            {% block content_body %}
            {% endblock %}
            <footer>
                Copyright © {{ year }} Matthew Fitzsimmons. All Rights Reserved.
            </footer>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
